.output{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    background-color: rgba(231, 12, 176, 0.85);
    box-shadow: 12px 13px 6px rgb(34, 224, 9);
    margin-bottom:2rem;
    padding: 1.5rem 3rem;
}
.output h1{
    font-size: 3rem;
}
.output p{
    font-size: 1.3rem;
    color: white;

}

@media screen and (max-width: 1000px) {
    .output{
        width: 80%;
    }
}
@media screen and (max-width: 603px) {
    .output p{ 
        font-size: 1rem;
    }
    .output{
        padding: 1.5rem;
        text-align: justify;
    }
    
}